<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Purchasing Toolpak has been making applications, spreadsheets and templates for procurement professionals since 1988.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                         If you need help improving buyer productivity or specialized tools and templates please <a href="/email-support/">contact</a>  us via email or go to the <a href="/support/">support</a> page.</p>
                                </div>
                            </div>
                        </li>
                        
                </div>
            </div>
        </div>
    </section>
