  <footer>

    <!-- Load rest of CSS -->
    <script>
    function loadCSS( href, before, media ){
        "use strict";
       var ss = window.document.createElement( "link" );
       var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
       var sheets = window.document.styleSheets;
       ss.rel = "stylesheet";
       ss.href = href;
       ss.media = "only x";
       ref.parentNode.insertBefore( ss, ref );
       function toggleMedia(){
          var defined;
          for( var i = 0; i < sheets.length; i++ ){
             if( sheets[ i ].href && sheets[ i ].href.indexOf( href ) > -1 ){
                  defined = true;
              }
          }
          if( defined ){
              ss.media = media || "all";
            }
           else {
                setTimeout( toggleMedia );
            }
        }
        toggleMedia();
        return ss;
    }
    loadCSS("/style.css");
    loadCSS("/css/font-awesome/css/font-awesome.min.css");
    loadCSS("https://fonts.googleapis.com/css?family=Montserrat:400,700");
    loadCSS("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");
    // only using two fonts
    //loadCSS("https://fonts.googleapis.com/css?family=Kaushan+Script");
    //loadCSS("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
    //loadCSS("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700");
    </script>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Purchasing Toolpak LLC  {{ 'now' | date: "%Y" }}</span>
                </div>
              <!-- Add social icons later
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                -->
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                      <li><a href="http://blog.purchasingtoolpak.com/atom"><i class="fa fa-rss"></i></a></li>
                      <li><a href="https://github.com/purchasingtoolpak/purchasingtoolpak"><i class="fa fa-github"></i></a></li>
                  </ul>
              </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#portfolioModalPrivacy" class="portfolio-link" data-toggle="modal">Privacy Policy</a>
                        </li>
                        <li><a href="#portfolioModalTerms" class="portfolio-link" data-toggle="modal">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
