  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
              <!-- Add social icons later
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                -->
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                      <li><a href="http://blog.purchasingtoolpak.com/atom"><i class="fa fa-rss"></i></a>
                  </ul>
              </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#portfolioModalPrivacy" class="portfolio-link" data-toggle="modal">Privacy Policy</a>
                        </li>
                        <li><a href="#portfolioModalTerms" class="portfolio-link" data-toggle="modal">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
