<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Usage</h2>
                    <h3 class="section-subheading text-muted">Typical Uses for Purchasing Toolpak</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-certificate fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Strategic Sourcing</h4>
                    <p class="text-muted">Develop sourcing strategies, identify key suppliers, complete multi-round bid events and indentify strategic suppliers to meet business needs.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Procure to Pay (P2P)</h4>
                    <p class="text-muted">Improve buyer transactional efficiency and team productivity. Spend more time on strategic sourcing activities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Supplier Integration and Risk Management</h4>
                    <p class="text-muted">Work with suppliers to develop and implement continuous improvement plans to drive quality, innovation and cost. Identify high
                          risk suppliers and develop effective contingency plans.</p>
                </div>
            </div>
        </div>
    </section>
