<!-- Terms of Service -->
 
    <div class="portfolio-modal modal fade" id="portfolioModalTerms" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Terms of Service</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/purchase-order.png" class="img-responsive img-centered" alt="image-alt">
                            <p>Here is the text for the terms of service</p>
                            <ul class="list-inline item-details">
                                <li>Author:
                                    <strong><a href="https://github.com/purchasingtoolpak/purchasingtoolpak">Purchasing Toolpak</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>April 2016</a>
                                    </strong>
                                </li>
                                <li>Category:
                                    <strong>P2P</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

