<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include procurement-template-usage.html %}
    {% include portfolio_grid.html %}
    {% include about-purchasing-toolpak.html %}
    {% include download-procurement-templates.html %}
    {% include clients.html %}
    {% include contact-purchasing-toolpak.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include terms.html %}
    {% include privacy.html %} 
    {% include js.html %}
   
    </body>
</html>
